//*****************************************
//	$COLORS
//*****************************************
$mainColor: 		#ea576e;
$secondaryColor:	#031735;
$tertiaryColor:		#818b9a;
$darkGrey:			#333333;
$white:   #ffffff;



//*****************************************
//	$TYPOGRAPHY
//*****************************************
$mainFont:
	"Courier New", 
	"Courier",
	"Source Code Pro",
	"monaco",
	"PT Mono",
	monospace;

$secondaryFont:
	"Lato",
	"Open Sans",
	Arial,
	Verdana,
	sans-serif;


$border: 3px solid $mainColor;

//*****************************************
//	$CONTAINER-MAX-WIDTH
//*****************************************
$maxWidth: 800px;



//*****************************************
//	$BREAKPOINTS
//*****************************************
// small: 320px (target) / 16px (context) = 20em
// medium: 600px (target) / 16px (context) = 37.5em
// big: 800px (target) / 16px (context) = 50em
// large: 1024px (target) / 16px (context) = 64em
// xtraLarge: 1280px (target) / 16 (context) = 80em
// xtraBig: 1920 (target) / 16 (context) = 120em
$breakpoints: (
  	'small': (min-width: 19.875em),
  	'medium': (min-width: 37.5em),
  	'big': (min-width: 50em),
  	'large': (min-width: 64em),
  	'xtraLarge': (min-width: 80em),
	'xtraBig': (min-width: 120em),
);
