///////////////////////////////////////////
// FOOTER
///////////////////////////////////////////
footer {
	// position: fixed;
	width: 100%;
 	bottom: 0;
	font-size: 75%;
	padding: 10px 15px;
	border-top: 1px solid $tertiaryColor;
	background-color: white;

	& p {
		margin-top: 7px;
		margin-bottom: 7px;
		color: $secondaryColor;
		text-align: center;
		
		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	& a {
		color: $secondaryColor;
	}

		&:visited {
			color: $secondaryColor;
		}
}