///////////////////////////////////////////
// ICONS SYTEM
///////////////////////////////////////////
/* .icon-twitter,
.icon-facebook,
.icon-rss,
.icon-search,
.icon-cookie,
.icon-download,
.icon-more {
	background-image: url('/img/icons.jpg');
	background-image: url('/img/icons.svg');
	background-repeat: no-repeat;
}

	.icon-twitter {
		height: 24px;
		background-position: 0px 0px;
	}

	.icon-facebook {
		height: 24px;
		background-position: 0px -24px;
	}

	.icon-rss {
		height: 24px;
		background-position: 0px -48px;
	}

	.icon-search {
		height: 24px;
		background-position: 0px -72px;
	}

	.icon-download {
		height: 24px;
		background-position: 0px -96px;
	}

	.icon-more {
		height: 24px;
		background-position: 0px -120px;
	} */