//
// Basic typography style for copy text
//
body {
  font: 16px/1.4 $mainFont;
  font: 1rem/1.4 $mainFont;
}

//
// Headings level 1
//
h1 {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 33px;
  margin-bottom: 33px;
}

//
// Headings level 2
//
h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 28px;
  margin-bottom: 28px;
}

//
// Headingds level 3
//
h3, h4, h5, h6 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondaryColor;
  font-family: $secondaryFont;
}

p {
  color: $darkGrey;
}

//
// Vertical rhythm
//
li {
  margin-bottom: 8px;
}
